:root {
    --primary-color:rgb(52, 53, 36);
    --secondary-color:rgb(107, 198, 221);
    --heading-font: 'Bangers', cursive;
    --paragraph-font: 'Libre Franklin', sans-serif;
  }
  .css-selector {
    font-family: 'Bangers', cursive;
    font-family: 'Libre Franklin', sans-serif;
  }
body {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--secondary-color);
}
header, footer, script {
    margin: 1rem;
    background-color: var(--primary-color);
    color: floralwhite;
    font-family: var(--heading-font);
    letter-spacing: 0.1em;
    padding: .5rem;
    border-radius: 15px;
}
main {
    margin: 1.5rem;
}
img{
    max-width: 40%;
    border-radius: 10px;
    float: right;
    margin: 10px;
    box-shadow: 5px 5px 10px grey;
}
h2 {
    color: darkblue;
    font-family: var(--heading-font);
    letter-spacing: 2px;
    border-bottom: 1px solid black;
}
footer {
    text-align: center;
    font-size: 14px;
    font-family: var(--paragraph-font);
    letter-spacing: 1px;
}
nav ul li{
    color: black;
    font-family: var(--paragraph-font);
}
nav ul li a {
    color: blue;
}
a {
    color: white;
}
a:hover {
    color: red;
}
