
.navigation {
    display: flex;

li {
    display: block;
    flex: 1 1 auto;
}

li:last-child a{
    border-right: none;
}

a {
    text-align: center;
    border-bottom: none;
    border-right: 2px solid white;
}

li:first-child {
    display: none;
}

} // end navigation class
.wrap { 

.daily {
    align-self: stretch;
}

.data {

    .leftData {
        padding-top: 30px;
    }

    .rightData {
        padding-top: 30px;
    }

} //end of data class

} //end of wrap class

.futureweather {
    display: block;

ul {
    list-style-type: none;
    padding: 0;
}

} // end of futureweather

.day {
    display: flex;
    text-align: center;

li {
    flex: 1 1 20%;
}

img {
    max-width: 5rem;
}

} // end of day class

.slides {

    .left-button {
        top: 145px;
        left: 115px;
    }

    .right-button {
        top: 145px;
        right: 115px;
    }
}

// end slides class

.futureweather {
    display: flex;
    background-color: $barcolor;
    font-family: $weatherFont;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    box-shadow: $shadow;
    margin: 10px;

    .col {
        padding: 10px;
        border: 2px solid white;
        border-bottom: 1px solid white;
    }

    .col:nth-child(1) {
        border-left: 1px solid white;
    }

    .col:nth-child(5) {
        border-right: 1px solid white;
    }
}