body {
    font-size: 18px;
    background-image: url("/final-project/images/cozumel-background-largeV2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        margin-top: 20px;
        max-width: 100px;
    }

    h1 {
        color: $darkbackground;
        margin: 20px;
        text-align: center;
        font-family: $headerFont;
    }
}

// end header

nav {
    background: $barcolor;
    font-family: $headerFont;
    margin: 0px auto;
}


.navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    .page {
        background-color: $backup;
        color: black;
        font-weight: 600;
    }

    li:first-child {
        display: block;
    }

    li {
        display: none;
    }

    li:last-child a {
        border-bottom: none;
    }

    a {
        display: block;
        padding: 0.75rem;
        text-align: center;
        text-decoration: none;
        color: white;
        border-bottom: 2px solid white;
    }

    a:hover {
        background-color: $backup;
    }

}

// end navigation

.responsive li {
    display: block;
}

main {
    background-color: $backup;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.focus {
    margin: 10px auto;

    h1 {
        font-family: $headerFont;
        text-align: center;
        color: black;
    }

    p {
        font-family: $paraFont;
        text-align: left;
        color: white;
        padding: 0 20px;
    }

}

// end focus

.slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    picture img {
        max-width: 95%;
        margin: 10px auto;
        box-shadow: $shadow;

    }

    // end myslides

    .left-button {
        position: absolute;
        top: 115px;
        left: 15px;
        border: 2px solid;
        border-radius: 15px;
        padding: 25px 10px;
        color: black;
        background-color: rgba(255, 255, 255, 0.50);
    }

    .right-button {
        position: absolute;
        top: 115px;
        right: 15px;
        border: 2px solid;
        border-radius: 15px;
        padding: 25px 10px;
        color: black;
        background-color: rgba(255, 255, 255, 0.50);
    }
}

// end slides class

.wrap {
    display: flex;
    justify-content: center;

    .daily {
        background-color: $mission;
        align-self: center;
        max-width: 300px;
        padding: 20px 10px;
        margin: 10px;
        box-shadow: $shadow;

        h3 {
            flex-direction: column;
            font-family: $weatherFont;
            text-align: center;
            margin: 0;
        }

        .data {
            display: flex;

            .leftData {
                flex-direction: column;
                color: white;
                text-align: right;
                font-family: $paraFont;
            }

            .rightData {
                flex-direction: column;
                color: rgb(252, 243, 121);
                font-family: $paraFont;
            }

        }

        // end of data class

    }

    // end of daily class

}

//end of wrap class


.futureweather {
    display: none;
}

.reservation {
    display: flex;
    justify-content: center;
    align-self: center;

    button {
        color: white;
        border: none;
        background-color: $image;
        max-width: 400px;
        box-shadow: $shadow;
        padding: 10px 30px;
        margin: 10px;
    }

}

// end reservation class

footer {
    background-color: $barcolor;
    color: white;

    h3 {
        font-family: $headerFont;
    }

    iframe {
        display: none;
        margin: .5em;
        width: 200px;
        height: 150px;
        border: none;
        box-shadow: $shadow;
    }

    .contactUs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        padding: .2em;
    }

    .address {
        font-style: normal;
        margin: 0;
        text-align: left;
    }

    .socialMedia {
        flex-direction: row;
        padding-top: .4em;
    }

    .author {
        text-align: center;
        font-size: .7em;
        padding: 10px;
    }
}

// end of footer


form {
    background-color: white;
    padding: 5px;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;

    fieldset {
        margin: 2rem 10px;
        border: 1px solid $barcolor;
        border-radius: 10px;
        padding: 0.5rem 2%;
        font-size: 1.25rem;
    }

    legend {
        color: $barcolor;
        margin: 0 4rem;
        padding: 0 0.5rem;
        text-align: center;
        font-family: $headerFont;
    }

    label.personal,
    label.rental-info {
        display: block;
        padding: 1rem;
        font-family: $headerFont;
        font-size: 1.25rem;
        line-height: 2rem;
    }

    label.personal input,
    label.rental-info input,
    .text-area {
        display: block;
        font-size: 1rem;
        border: solid 1px #999;
        border-radius: 4px;
        padding: 1rem;
        width: 90%;
        max-width: 20rem;
        background-color: $formcolor;
    }

    input.submit-button {
        border: none;
        background-color: $image;
        color: white;
        border-radius: 1rem;
        padding: 0.75rem 1rem;
        margin: 0 0 2rem 2%;
        width: 96%;
        font-size: 1.25rem;
        ;
    }

    .text-area {
        min-width: 300px;
        min-height: 200px;
        margin-top: 10px;
        padding: 10px;
    }

}

// end of form

.required {
    color: red;
}

.agreement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-family: $paraFont;

    input {
        padding: 10px;
        margin: 0 10px;
        height: 20px;
    }
}

//end of agreement class

//Thanks HTML Page
.thanks {
    background-color: white;
    box-shadow: $shadow;
    padding: 10px;
    text-align: center;

    h1 {
        font-size: 2rem;
    }

    p {
        color: black;
    }
}

// end of thanks class

//Reserveration HTML special CSS

.rental {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
    margin: 10px auto;
    max-width: 400px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 20px;
        border: 1px solid black;
        padding: 10px;

        h2 {
            font-family: $headerFont;
            text-align: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            font-family: $paraFont;
            max-width: 300px;
            min-width: 280px;
            text-align: center;

            li {
                list-style-type: none;
                padding: 1px;
            }

        }

        // end of ul

        button {
            border: none;
            padding: 10px 30px;
            background-color: $image;
            color: white;
            font-family: $headerFont;
            border-radius: 10px;
        }

        img {
            padding: 10px;
        }
    }

    // end of div

}

// end of rental class