$headerFont: 'Assistant', sans-serif;
$paraFont: 'Asul', sans-serif;
$weatherFont: 'Alegreya Sans SC', sans-serif;
$barcolor: #388f85;
$backup: rgba(160, 216, 207, 0.74);
$image: #CF8643;
$mission: #817d67;
$darkbackground: white;
$shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
0 0 0 2px rgb(255, 255, 255),
0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
$formcolor: rgba(0, 0, 0, 0.09);