:root {
    --primary-color: rgb(133, 143, 146);
    --secondary-color: rgb(66, 100, 73);
    --accent-color: rgb(24, 51, 59);
    --dark-background-font: rgb(147, 223, 247);
    --main-transparent: rgba(199, 199, 199, 0.801);
    --header-font: 'Baloo Paaji 2', cursive;
    --nav-font: 'Galdeano', sans-serif;
    --par-font: 'Arya', sans-serif;
}

body {
    font-size: 18px;
    background-image: url("../images/RainyWeather.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    font-family: var(--par-font);
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    font-size: .8em;
}

.headDirect {
    display: flex;
    flex-direction: column;
}

.mainHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-heading h1 {
    margin: 10px 0 0 17px;
}

img {
    align-self: center;
}

.motto {
    font-style: italic;
    margin: 0 0 10px 25px;
}

.cloudy {
    display: none;
}

main,
footer {
    max-width: 1050px;
    margin: 0 auto;
}

main {
    font-family: var(--par-font);
    background-color: var(--main-transparent);
}

h1,
h2 {
    text-shadow: 1px 1px 5px gray;
}

section {
    margin: .7em 0;
    display: flex;
    flex-direction: column;
}

section h2 {
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    margin: .5em;
    background-color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

nav {
    background: var(--accent-color);
    font-family: var(--nav-font);
    margin: 0 auto;
}

.navi {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navi li:first-child {
    display: block;
}

.navi li {
    display: none;
}

.navi a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border-top: 2px solid var(--main-transparent);
}

.navi a:hover {
    color: white;
    background-color: var(--primary-color);
}

.responsive li {
    display: block;
}

iframe {
    display: none;
    margin: .5em;
    width: 200px;
    height: 150px;
    border: none;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(165, 161, 161),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#contactUs {
    flex-direction: column;
    align-items: center;
}

#info {
    padding: .2em;
    color: var(--secondary-color);
}

#address {
    font-style: normal;
    margin: 0;
    text-align: left;
}

#socialMedia {
    flex-direction: row;
    padding-top: .4em;
}

footer {
    font-family: var(--nav-font);
    color: white;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 1em;
    line-height: 30px;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--dark-background-font);
}

@media only screen and (min-width: 37.5em) {

    nav {
        background: #18333b;
        /* Old browsers */
        background: -moz-linear-gradient(top, #18333b 0%, #376651 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #18333b 0%, #376651 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #18333b 0%, #376651 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18333b', endColorstr='#376651', GradientType=0);
        /* IE6-9 */
    }

    .navi a:hover {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#858f92+0,b9b9c9+100 */
        background: #858f92;
        /* Old browsers */
        background: -moz-linear-gradient(top, #858f92 0%, #b9b9c9 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #858f92 0%, #b9b9c9 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #858f92 0%, #b9b9c9 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#858f92', endColorstr='#b9b9c9', GradientType=0);
        /* IE6-9 */

    }

    .headDirect {
        flex-direction: row;
        justify-content: center;
    }

    .mainHead {
        flex-direction: row;
        justify-content: center;
        padding: 1em;
    }

    header {
        font-size: 1em;
    }

    .main-heading h1 {
        margin: 0 1em 0 1em;
    }

    .navi {
        display: flex;
    }

    .navi li {
        display: block;
        flex: 1 1 auto;
    }

    .navi a {
        text-align: center;
        border-top: none;
        border-right: 2px solid var(--main-transparent);
    }

    .navi li:first-child {
        display: none;
    }

    iframe {
        display: block;
    }

    #contactUs {
        flex-direction: row;
        justify-content: center;
    }

}

@media only screen and (min-width: 54em) {

    .cloudy {
        display: block;
    }

    #contactUs {
        flex-direction: row;
        justify-content: space-evenly;
    }

}