:root {
    --super-light-green: (#e7f0ed);
    --less-light-green: (#e7ffed);
    --medium-blue-grey: (#628ca6);
    --light-blue-grey: (#7fb9c2);
    --main-font: 'Ubuntu';
    --second-font: 'sans-serif';
}

body {
    margin: 3em auto;
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
    border-spacing: 0;
    border: 1px solid gray;
}

thead {
    font-family: 'Ubuntu';
    background: #7fb9c2;
    color: black;
    font-size: 1.5em;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid gray;
    border-collapse: collapse;
}

.odds tr :nth-child(2n + 1) {
    background: #e7ffed;
}

tr {
    background: #e7f0ed;
    padding: .8em;
}